.bg-img {
    position: fixed;
    top: 0; left:0; right:0; bottom:0;
}
.bg-img img{
    height: 100vh; width: 100vw;    
    object-fit: cover;
}
.bg-img > .resize-wrapper {
    overflow: hidden; 
    width: 100vw; 
}

.bg-img.z-1{z-index: -1;}    
.bg-img.z-2{z-index: -2;}   
.bg-img.z-3{z-index: -3;}  
.bg-img.z-4{z-index: -4;}  
.bg-img.z-5{z-index: -5;}  
.bg-img.z-6{z-index: -6;}
